@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.homepage{
opacity: 0;
}


.hero {
    height: 90vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    align-items: center;
    
}


.hero img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    }
.left-text{
    grid-column: 2/3;
    justify-self: right;
}
.right-text{
    grid-column: 5/6;
}

.left-img{
    grid-column: 3/4;
    justify-self: right;
    /* transform: translateY(-20px); */
}
.right-img{
    grid-column: 4/5;
    /* justify-self: right; */
    /* transform: translateY(20px); */

}
h1{
    font-family: 'Lobster', cursive;
    /* opacity: 0; */
}

section{
    /* border-top: 1px salmon dashed; */
    /* position: relative;
    height: 700px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(190,193,214,1) 100%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%); */
    text-align: center;
    /* margin-top: 4rem; */
    padding: 1rem 0;
}
.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

figure img{
    width: 200px;
    height: 200px;
    /* object-fit: cover; */
    /* outline: 2px dashed salmon;
    outline-offset: 5px; */
}

figcaption{
    font-weight: 500;
    text-transform: uppercase;
    padding: .5rem 0;
}
button{
    border:1px solid #fff;
    padding: .5rem 2rem;
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover{
    background-color: #fff;
    color:#000;
    border: #000 solid 1px;
}

h2{
    font-family: 'Lobster', cursive;

}


@media only screen and (max-width: 600px){
    .hero img{
        width: 200px;
        height: 300px;
        object-fit: cover;
        }
        h1{
            font-size: 1rem;
        }

        .product-list{
            display: block;
        }
}