.logo{
    padding: 1rem;
    font-size: 2rem;
}
.logo a{
    color: #000;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    /* padding: 1rem; */
}

.menu{
    padding: 1rem;
    position: relative;
    display: block;
    cursor: pointer;
}

.menu:hover{
    color: #fff;
    background-color: #000;
}
.menu-items{
    background-color: #000;
    position: absolute;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 1rem;
    top: 0;
    left: -180px;
}
li{
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #fff;
}

.cart{
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}
.cart span{
    font-size: 1rem;
    position: absolute;
    top: -15px;
    left: 7px;   
}

.cart a{
    color: #000;
}